/* font-family: 'Edu TAS Beginner', cursive;
font-family: 'Lemon', serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Roboto Slab', serif; */

:root {
  --branding-color: #20201f;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 94px;
}

h2 {
  font-size: 64px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 30px;
}

.hero {
  background-color: #20201f;
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  color: #fefefb;
}

.hero p {
  font-size: 36px;
  margin: 0;
  color: #fefefb;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 26px;
  line-height: 1.5;
  color: #fefefb;
}

.btn-branding {
  background-color: #20201f;
  color: #fefefb;
  border: 2px solid #fefefb;
  border-radius: 5px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
  margin-top: 25px;
  box-shadow: rgba(239, 239, 239, 0.2) 0px 3px 15px 0px;
}

.btn-branding:hover {
  background-color: #fefefb;
  color: #20201f;
}

.btn-branding-outline {
  background-color: #fefefb;
  color: #20201f;
  border: 2px solid #20201f;
  border-radius: 5px;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 30px;
  margin-top: 25px;
}

.project-description {
  padding: 120px 60px;
}

.about-section {
  padding: 160px 20px;
}

.about-me h1 {
  font-size: 65px;
  margin-top: 30px;
}

.about-me h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  margin-top: 20px;
  font-size: 35px;
}

.maria-photo {
  max-width: 100%;
  height: auto;

  box-shadow: 37px -27px #20201f;
}

.btn-my-work {
  background-color: #20201f;
  color: #fefefb;
  border: 2px solid #fefefb;
  border-radius: 10px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 30px;
}

@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    font-size: 20px;
  }
  .hero p {
    font-size: 30px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .about-me h1 {
    font-size: 45px;
  }

  .about-me h2 {
    font-size: 25px;
  }

  .about-me p {
    padding: 0 10px;
  }

  h1 {
    font-size: 50px;
    line-height: 1.5;
  }

  h2 {
    font-size: 44px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }

  .maria-photo {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: none;
  }
}
